<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
        <div class="container">
            <nav>
                
            </nav>
            <h1 class="headerTitle">Welcome to Music Recommendation System</h1>
        </div>
</head>

<body>
    <div class="bodyArea" id="bodyAreaA">

        <label><b>Please enter Your Twitter user name here</b></label>
        <div>
            <form action="" method="post" class="form-check-input">
                <p>{{ form.username(size=30)}}</p>
                <button type="button" class="btn btn-primary">{{ form.submit()}}</button>
            </form>
        </div>
    </div>
    <div class="warning">
        {% with messages = get_flashed_messages()%}
        {% if messages %}
        {% for message in messages %}
        <h2>{{message}}</h2>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    </div>
</body>

</html>